body {
    background-color: ghostwhite;
    padding-top: 50px;
}
.container {
    margin: 0 auto;
    width:80%;
}
/* Carousel base class */
.carousel {
    margin-bottom: 40px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 1;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 400px;
    background-color:#555;
}
.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    min-width: 100%;
}
.carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
}
.thumbnail img {
    width: 100%;
    height: 300px;
}
.list-group {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 1.3;
}
.list-group a {
    font-size: 17px;
    line-height: 1.3;
    background-color: skyblue;
    color: ghostwhite;
}
.breadcrumb{
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 1.3;
    background-color: lavender;
}

