
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: rgb(236, 236, 228);
    margin-bottom: 60px;
}

.container {
    margin: 0 auto;
    width:70%;
}

.carousel-caption {
    z-index: 1;
}


.carousel .item {
    height: 400px;
    background-color:#555;
}

.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
    min-width: 100%;
}

.carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
}

.thumbnail img {
    width: 100%;
    height: 230px;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
  background-color: rgb(47, 60, 60);
}
#flash-message {
    bottom: 20px;
    position: absolute;
    right: 20px;
    z-index: 10;
    animation: flash-message 10s forwards;
}

@keyframes flash-message {
    0%   {opacity: 1;}
    100% {opacity: 0; display:none;}
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
}
